services:
  server:
    image: mcr.microsoft.com/devcontainers/java:25-trixie
    volumes:
      - ./:/workspaces/micro-chirp
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
    ports:
      - "8080:8080"
    working_dir: /workspaces/micro-chirp

  database:
    image: postgres:18
    volumes:
      - ./database/schema:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: chirpuser
      POSTGRES_PASSWORD: chirppassword
      POSTGRES_DB: chirpdb

  jaeger:
    image: jaegertracing/jaeger
    ports:
      - "16686:16686"
      - "4318:4318"
      - "4317:4317"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
