spring:
  application:
    name: micro-chirp

  datasource:
    url: jdbc:postgresql://${DB_HOST:database}:${DB_PORT:5432}/${DB_NAME:chirpdb}
    username: ${DB_USER:chirpuser}
    password: ${DB_PASSWORD:chirppassword}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: false

otel:
  logs:
    exporter: none
  exporter:
    otlp:
      endpoint: http://jaeger:4318
