name: Job - Build (Server)

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'gradle'
      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false
      - name: Build
        working-directory: ./server
        run: ./gradlew compileJava --no-daemon
      - uses: actions/cache/save@v5
        with:
          path: ./server/build/
          key: build-${{ github.sha }}
